<%- include('./partials/header.ejs') %>
<main class="not-found-container">
  <h1 class="not-found-hero">404</h1>
  <p class="not-found-text">Oops! The page you are looking for can't be found. It looks like the link you followed may be broken or the page may have been removed. Don't worry, simply head back to our homepage and start exploring the latest tech updates from The Tech Connoisseur Society.</p>
  <a class="not-found-link" href="/"><button class="not-found-home-btn">
      Home
    </button></a>
</main>
<%- include('./partials/footer.ejs') %>